<div class="container-fluid bg-primary">
    <header class="d-flex flex-wrap justify-content-center mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="../../../assets/img/BusLogobyDesigner.png" width="80" height="80" alt="bus logo">
        <h1 class="mb-0 text-white">Bus</h1>
      </a>

      <ul class="nav nav-pills align-items-center">
        <li class="nav-item"><a routerLink="" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLink="/search" class="nav-link">Search</a></li>
        <li class="nav-item"><a routerLink="/bookings" class="nav-link">My Bookings</a></li>
        <li class="nav-item"><a routerLink="/admin" class="nav-link">My Account</a></li>
      </ul>
    </header>
  </div>